<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="static/style1.css">
</head>
<body>
    <table cellspacing="20">
        <thead>
            <tr>
                <th><img src="static/foto2.png" alt="user photo" width="200"></th>
                <td>
                    <h1><i>Utku ozer</i></h1>
                    <p>Founder and CTO of ...</p>
                    <p>I am an Python developer and, i love❤️ playing basketball.</p>
                </td>
            </tr>
            
        </thead>
    </table>
    <hr size="6" noshade>
    <h2>Books And Teaching</h2>
    <ul>
        <li>Book1</li>
        <li>Book2</li>
        <li>Book3</li>
    </ul>
    <hr size="4" noshade>
    <h2>Working Experience</h2>
    <table border="3">
        <tr>
            <th>Date</th>
            <th>Work</th>
        </tr>
        <tr>
            <td>2023 June</td>
            <td>100 Days Of Bootcamp Serctificate</td>
        </tr>
        <tr>
            <td>2022 May</td>
            <td>HTML Serticificate</td>
        </tr>
    </table>
    <hr size="4" noshade>
    <table cellspacing="7">
        <thead>
            <th>SKILLS</th>
        </thead>
        <tbody>
            <tr>
                <td>Pyhton Development</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Pyhton Development</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Pyhton Development</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
        </tbody>
    </table>
    <hr size="4" noshade>
    <a href="static/contact.html"><i>Contact With Me</i></a>
</body>


</html>